
body {
    /* Typography Declarations */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
   text-align: center;
}
#container{
	margin-top: 0.313em;
}
#heading{
	background-color: #808080;
		}

#logo {
	margin-top:0.313em;
	background-position: center ;
   background-repeat:no-repeat;
    height: 6.938rem;
    
}
h1{
	margin-top:1rem;
}
h1 {

	color:	#D8F3C9;
	font-size:1.250em;
	font-family: "Gentium Book Basic", Georgia, serif;
}
.green-text{
	text-transform: uppercase;
	color:#FFE4B5;
	font-size:1.250em;
	font-family:"Open Sans", "Helvetica Neue", sans-serif;; 

}

#content{
	height:15rem; 
   
    
}
#topicname, #cityname,#countryname,#button1{
	margin: 0.7rem auto 0 auto;
	height:2rem;
	width:10.55rem;
	background-color: lightblue;
	border-radius: 2rem;
	text-align: center;
	line-height: 2rem;
	font-size: 1rem;
	display:inline-block;

}


/*#footer{
	margin-top:15rem;
	text-align: center;
	background-color: #808080;
	height:4rem;
	
}*/
h3{
	text-align: center;
	color:#FFEFD5;
}
#button{
/*margin: 2rem auto 0 auto;*/
	height:2rem;
	width:10.55rem;
	background-color: #9CC089;
	border-radius: 1.33rem;
	text-align: center;
	line-height: 1rem;
	font-size: 1.5rem;
	display:inline-block;	
	  cursor: pointer;
	  padding-top: 0.55rem;

}
#maparea {
    width: 43.750em;
    height: 18.750em;
    border: 0.063em solid #c3c3c3;
    margin: 0.063em auto 0em auto;
	}
	.error {
	background-color: #F78181;
	padding: 1em;
}
.hidden {
	display: none;
}
.result {
	width: 51%;
	border: 0.063em solid black;
	padding: 0.313em;
	margin: 0 auto 1em auto;
}
.Event-description{
	text-align: center;
	 margin: 0.063em auto 0 auto;
	 max-width: 100%;
}

@media only screen and (min-device-width: 375px), only screen and (max-device-width: 667px),  and (width : 667px) , and (height : 375px), only screen and (-webkit-min-device-pixel-ratio: 2) { 
  #maparea {
    width: 20.750em;
    height: 5.750em;
  } 
}


@media only screen and (min-width : 1224px) {
	#maparea {
    width: 43.750em;
    height: 18.750em;
    border: 0.063em solid #c3c3c3;
    margin: 0.063em auto 0 auto;
	}
}





